@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.header{
    width: 100%;
    background-color: #efefef;
    position: fixed;
    z-index: 1;
}

.headerImage{
    width: 100px;
}

.poin{
  color: #c0392b;
}

.coin{
  color: #2980b9;
}

.pagination{
  cursor: pointer;
}

.criptoInfo{
  font-size: 20px;
}

.accordion-header img{
  width: 60px;
  margin-right: 10px;
}

/* Comienzan los estilos del titulo */

.text {
  position: absolute;
  top: 10px;
  text-align: left;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* Terminan los estilos del titulo */

.nav-link{
  font-size: 20px;
}

.navBar{
  position: fixed;
  width: 100%;
}

@media only screen and (max-width:767px){
  .icon{
    display: none;
  }
  .text{
    width: auto !important;
  }
  .navBar{
    top: 60px;
  }
}

@media only screen and (max-width:925px){
  .text{
    width: 300px;
  }
}