@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'lato'sans-serif;}

body{
  background: linear-gradient(90deg, #0f2144 0%, #015a75 35%);
}

.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 100%;
  background: linear-gradient(90deg, #0f2144 0%, #015a75 35%);
  z-index: 1;
}

.headerImage {
  width: 100px;
}

.poin {
  color: #c0392b;
}

.coin {
  color: #2980b9;
}

.pagination{
  cursor: pointer;
}

.criptoInfo{
  font-size: 20px;
}

.accordion-header img{
  width: 60px;
  margin-right: 10px;
}

/* Comienzan los estilos del titulo */

.text {
  position: absolute;
  text-align: left;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/* Terminan los estilos del titulo */

.nav-link {
  font-size: 20px;
}

.btns{
  font-size: 22px;
}

.navBar{
  width: 100%;
  background-color: rgb(49, 50, 131);
}

.dropMenu{
  background-color: rgb(35, 36, 95);
}

@media only screen and (max-width: 767px) {
  .icon {
    display: none;
  }
  .text {
    width: auto !important;
    top: 0;
  }
  .navBar {
    top: 55px;
  }
}

@media only screen and (max-width: 925px) {
  .text {
    width: 300px;
  }
}
.divContainer{
  margin-top: 200px;
}
.container__card{
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap ;
}

.card__father{
  margin: 20px;
  perspective: 1000px;
}
.card__father:hover .card{
  transform: rotateY(180deg)
}
.card{
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 500ms;
  background-color: #ffffff00;
  border:none ;
}
.card__front{
background-size:cover ;
background-position: center;
}

.card__front ,
.card__back{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
backface-visibility: hidden;
transform-style:preserve-3d ;
border-radius: 20px;
color: white;

}
.card__back{
  transform: rotateY(180deg);
  background: black;
}
.body__card_front{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transform: translateZ(60px);
}
.bg{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
 background: rgb(0, 0, 0,0.4); 
 border-radius: 20px;
}

.body__card_back{
padding: 40px;
text-align: center;
transform: translateZ(60px);
}
.body__card_back p {
  margin-top: 30px;
  font-size: 18px;
}
.body__card_back input{
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #2c3e50;
  background: #d5fd24;
  box-shadow: 1px 1px 30px -5px #b9e00b;
  border-radius: 10px;
  transition: box-shadow 600ms ;
}
.body__card_back input:hover{
  box-shadow: 1px 1px 30px 0px #d3ff0f;
}

